@import "../../src/assets/styles/colors";
.about{
  &__cover{
    width: 100%;
    border: 6px;
    overflow: hidden;
    margin-bottom: 35px;
    img{
      width: 100%;
    }
  }
  &__article{
    line-height: 22px;
    color: $black-main;
  }
}