$gray-main: #8599A7;
$gray-main-soft: #8599a71a;
$gray-border: #E0E0E0;
$gray-border-dark: #c2c2c2;
$gray-soft : #F5F5F5;
$gray-light : #D0D0D0;
$black-main : #303844;
$green-main : #05AF51;
$orange-main : #E67435;
$red-main : #F23A00;
$primary-btn-color : #05AF51;
$backdrop-gray : #f2f8fb;
$link : #1FA0FF;
$not-found-blue : #7092FE;
$shadow : 0px 24px 35px rgba(0, 0, 0, 0.09);
$shadow-reverse : 0px -24px 35px rgba(0, 0, 0, 0.09);

$listing-slider-btn : rgba(224, 224, 224, 0.3);
$listing-slider-chevron : rgba(224, 224, 224, 0.4);
$car-model-orange : #FDB724;
// sliding radiobutton

$sliding-radio-bg :rgba(245, 245, 245, 0.5);
$sliding-radio-active : #E4E4E4;

//social

$fb-bg : #3E5B9B;
$ig-bg : #E1306C;
$wp-bg : #25D366;
$tl-bg : #0088CC;
$yt-bg : #FF0000;

//sale card

$sale-card-border : #ECECEC;

// filter tag
$filter-tag-bg : #4C6EE4;

//blur
$blur-bg : rgba(48, 56, 68, 0.5);

//price card
$price-card-red : #F23A00;
$price-card-blue : #1FA0FF;
$price-card-green : #05AF51;
